
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/*border:1px solid red;*/
	
/*-----------Font---------------*/
}
   	@font-face {
        font-family: JosefinSans-Regular;
        src: url('../font/JosefinSans-Regular.ttf');
}

@font-face {
        font-family: JosefinSans-Light;
        src: url('../font/JosefinSans-Light.ttf');
}

@font-face {
        font-family: JosefinSans-Bold;
        src: url('../font/JosefinSans-Bold.ttf');
}


/*-------------Font-Size------------------------*/
@media only screen and (min-width: 300px)
{html
    {
        font-size: 9px;
    }

}
@media only screen and (min-width: 480px)
{html
    {
        font-size: 9px;
    }

}
@media only screen and (min-width: 768px)
{html
    {
        font-size: 10px;
    }

}
@media only screen and (min-width: 992px)
{html
    {
        font-size: 13px;
    }

}
@media only screen and (min-width: 1200px)
{html
    {
        font-size: 14px;
    }

}
@media screen and (max-width: 767px) {
	#home .hero-slider {
		position: fixed;
	}

	#home .hero-slider.slider-scroll-point {
		top: 0;
	}

	.hero-slider .home-slider-overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		background: rgba(0,0,0,1);
	}
}

/*#header
{
	min-height: 15vh;
	background-color: black;
}
*/
/*.menu
{
	border: 1px solid red;
}
*/
/*#header ul 
{
	margin-top:35px;
}*/
.nav  li a
{
	font-family:JosefinSans-Light!important;
	font-size:1.5rem;
}
.nav li a:hover{
	color: white!important;
}
nav ul li
{
	padding-left:20px;
}
#products-menu li a:hover
{
	color:white!important;
	/*color:white!important;*/
	background-color:black;
	
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover 
{
	background-color: black;
}



/*---------------Home--------------------------*/

#home
{
	width: 100%;
	height:100vh;
	background-color: /*#343a40*/white;
}

.main1
{
	
	height:86.3vh;
	background-color:#ffc107;
	padding-top:30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo img
{
	border: 1px solid red;
	margin-top: 15%;
}

.myname
{
	width: auto;
	background-color: #ffc107;
	color:white;
	padding: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
	
}
.myname p
{
	margin: 0;
	font-size: 3rem;
	font-family: JosefinSans-Regular;
	/*background-color:#54545442;*/
	padding: 0.2rem;
	/*font-style:white line;*/


}

.main2
{
	
	height:86.3vh;
	background-color:#343a40;

}

.main2 h1
{
	color: white;
	font-size: 3rem;
	font-family: JosefinSans-Regular;

}

.hading h5
 {
   
   font-family: JosefinSans-Light;
 	color: gray;
    font-size:1.7rem;
 
}
a{
	text-decoration: none;
}

.hading h5 i

 {
   
    text-align: center;
    background-color: white;
    border-radius:50px;
    padding: 10px;
    color: #343a40;
    transition: 0.5s;
}

#user-info-main{
	min-height: auto;
}
#user-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	/*border: 1px solid red;*/
	height: 85vh;
}
#user-info-xs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 64.5vh;
	margin-top:50px;
}
#user-info-xs h1
{
	font-size: 3rem;
}
#user-info-xs h5
{
	font-size:3rem;
}

/*---------About-Me page-------------*/

#aboutme
{
	width: 100%;
	height:100vh;
	background-color: #343a40;
	/*float:right; */



}
.page-hading
{
	width: 100%;
	height:auto;
	background-color: #ffc107;	
	/*float: left;*/
}

.page-hading h1
{
	font-family: JosefinSans-Bold;
	text-align: center;
	font-size: 5rem;
	color: white;
	text-shadow: 
}



.about1
{
	/*width:50%;*/
	height:40vh;
	background-color:#343a40;
	float:left;
	margin-top:0; 
	color: white;
	margin-top:10%;
	/*adding-top: 4%;*/
	font-family: JosefinSans-Regular;


}
.about2
{
	/*width:50%;*/
	height:auto;
	background-color: #343a40;
	float:right;
	margin-top:8vh;
	font-family: JosefinSans-Regular;
	/*border:1px solid red;*/
}

#user1-info-about-xs
{
	margin-top:0px;
	padding-top: 10%;
}

#user2-info-about-xs
{
	margin-top:5vh;
}

/*--------------Services Page---------------------*/

#services
{
	width: 100%;
	min-height:100vh;
	background-color: #343a40;
}

.container
{
	width: 100%;
	height:auto;
	background-color:#343a40;
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
	/*border:1px solid red;*/
	

}
.box
{
	height:auto;
	  position: relative;
	  color: white;
	  background-color: #ffc107;
	font-family: JosefinSans-Bold;

}

.overlay {
    
    
   position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #343a40;
    color: white;
    width: 100%;
    height:0;
    border:1px solid #ffc107;
    border-top: none;
    transition: 1s ease;
    text-align: center;
    overflow: hidden;
    font-size: 3vh;

}
.text {
  color: white;
  font-size:19px;
  position: absolute;
  top: 5%;
  text-align: center;
  font-family: JosefinSans-Light;
}

.box:hover .overlay {
  top: 20%;
    height: 80%;
    animation: ;

}

/*-----------Work Page-----------------*/
#work
{
	width: 100%;
	min-height:50vh;
	background-color: #343a40;

}
#w-top
{
	margin-top:20px;
}

/*---------Contect Me Page-----------*/

#contect
{
	width: 100%;
	min-height:100vh;
	background-color: #343a40;
}


.m1 {
   	width:auto;
    background-color: #343a40;
    text-align: center;

}
.mm {
    width: 90%;
    background-color: #343a40;
    margin-left: 5%;
    font-size: 3vh;
    color: white;
    font-family: JosefinSans-Light;

}
.m1 h1 {
    font-size:4rem;
    color: white;
    font-family: JosefinSans-Regular;


}
input,
textarea {
    border: none;
    border-bottom: 2px solid yellow;
    border-radius: 0px;
}

input[placeholder],
textarea[placeholder] {
    background-color: transparent;
}

/*--------------fome--------------------*/

form {
    background-color: #343a40;
    height: 100%;
    width: 100%;
    padding-top: 1vh;
    margin-left: 0;
}
.u1 {
    width: 80%;
    height: 10vh;
    padding-top: 2vh;
    font-size: 3vh;
    margin-left: 10%;
    background-color: #343a40;
}
.u2 {
    border-radius: 1.2vh;
    height: 6vh;
    width: 100%;
    float: right;
}
.com {
    width: 80%;
    height: 20vh;
    padding-top: 2vh;
    margin-left: 10%;
    font-size: 3vh;
}
.com-in {
    border-radius: 1.2vh;
    height: 15vh;
    width: 100%;
    float: right;
}
/*.check
{
 padding-left:40%;
}*/
/*.check-in 
{
  border-radius: 1vh;
}*/
.m1 button {
    /*margin-left:40%;*/
    width: 80%;
    height: 10vh;
    text-align: center;
    font-size: 5vh;
    background:none;
    border:1px solid white;
}

.m1 button:hover
{
	border:1px solid #ffc107;

}

/*----------Footer--------------*/

.footer{
    width:100%;
    min-height:20vh;
    background-color: /*#343a40*/black;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.a-con
{
    position:relative;
    display: inline-block;
    overflow: hidden;
    width:5rem;
    height: 5rem;
     margin: 10px;
     border-radius: 100%;
 }
 .a-con:hover{
 	animation-name: rotate;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
 }
.a-con img 
{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    border:0.2vw solid white; 
   border-radius: 100%;
}
.a-con .hover-img 
{

    top:0;   
    left:0; 
    width:100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg); 
  }
 /* 75% {
  	transform: rotateY(270deg);	
  }
  100% {
  	transform: rotateY(360deg);	
  }*/
}


.a-con img:hover 
{
    opacity: 0;
    /*transform: sition:1s;*/
    border:none;

}

.hover-img img:hover 
{
    opacity: 1;
}

/*-------------up button----------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10vh;
  right: 4%;
  z-index: 99;
  font-size: 5vh;
  border: none;
  outline: none;
  background-color:black;
  color: white;
  cursor: pointer;
  padding: 2vh;
  /*border-radius:50px;*/
  border: 1px solid white;
  opacity: 0.5;

}

#myBtn:hover {
  background-color:black;
  color:#ffc107;
  border:2px solid#ffc107; 
  box-shadow: 0px 0px 30px 0px rgb(238,224,0);
-webkit-box-shadow: 0px 0px 30px 0px rgb(238,224,0);
-moz-box-shadow: 0px 0px 30px 0px rgb(238,224,0);
}